.back-link {
    align-items: center;
    color: #41414D;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    text-decoration: none;
    transition: opacity 0.2s;
}

.back-link-label:hover {
    opacity: 0.8;
}

.back-link-icon {
    margin-right: 8px;
}
